<app-nav></app-nav>

<div class="container" style="margin-top: 120px">
  <a>İgdaş Personel Sayfasına Hoşgeldiniz</a>
</div>

<div class="container" style="margin-top: 0px">
  <carousel>
    <slide>
      <img src="https://images.pexels.com/photos/371589/pexels-photo-371589.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://images.pexels.com/photos/210068/pexels-photo-210068.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="https://images.pexels.com/photos/1574843/pexels-photo-1574843.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>
</div>







